@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	background-color: #1a1b1a;
}

.custom-shape-divider-bottom-1701468740 {
	position: absolute;
	bottom: 0;
	left: -2px;
	width: 101%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.custom-shape-divider-bottom-1701468740 svg {
	position: relative;
	display: block;
	width: calc(300% + 1.4px);
	height: 100px;
}

.custom-shape-divider-bottom-1701468740 .shape-fill {
	fill: #1a1a1a;
}
